<div class="modal-inner-content">
  <ion-button class="close-modal" (click)="closeModal()" fill="clear" color="light">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>

  <div class="wallet-modal">
    <div class="header ion-text-center">
      <h3><b> Connect Wallet </b></h3>
      <h6>Select a Wallet to connect to Hsuite.</h6>
    </div>

    <div class="wallet translucent" *ngFor="let wallet of walletExtensions" (click)="selectWallet(wallet)">
      <img crossorigin="anonymous" [src]="wallet.image">
    </div>
  </div>
</div>
