<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/flow"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Backend Base URL</ion-label>
      <ion-input [value]="ctx.snapshot.baseUrl" (ionInput)="updateBaseUrl($any($event.target).value)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ledger</ion-label>
      <ion-note>testnet</ion-note>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Timeline</ion-label>
      <ion-button fill="outline" color="medium" (click)="clearTimeline()">Clear</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Wallets</ion-list-header>
    <ion-item *ngFor="let role of roles">
      <ion-label position="stacked">{{ role | titlecase }}</ion-label>
      <ion-input [value]="ctx.snapshot.wallets[role]" (ionInput)="updateWallet(role, $any($event.target).value)"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>


